@{
    ViewData["Title"] = "Documentação";
}

<div class="text-center">
    <h1 class="display-4">Documentação</h1>
    <h2>Aplicativo de gerenciamento de elevador.</h2>

    <p>Aqui você irá encontrar tudo sobre o aplicativo de gerenciamento de elevadores.</p>
</div>

<div class="text-left">
    <h6>1. Executando o aplicativo</h6>
    <p style="font-size:18px">Ao executar a aplicação você iniciará em uma tela como essa:</p>
    <img align="middle" src="https://files.catbox.moe/uysa7s.png" />    
    <p style="font-size:18px"><br />Nela você ira responder a pergunta, informando o total de pessoas que cabem no elevador.
        Em seguida você deverá digitar o total/máxima quantidade de andares presente na construção.
        </p>
    <img align="middle" src="https://files.catbox.moe/ykwhqq.png" />
    <p style="font-size:18px">
    <h6>2. O Menu</h6>
    <p style="font-size:18px">Agora o aplicativo exbirá um menu, com algumas opções:</p>
    <img align="middle" src="https://files.catbox.moe/535sjq.png"/>
    <p style="font-size:18px">Ao selecionar a opção desejada, ele a executará e após terminar o retorna ao menu para que selecione uma nova opção,
        esse processo se repete até que você escolha a opção 5, que executa o encerramento do programa. </p>
        <br />
    <h6>3. Opções</h6>
    <p>Apesar de serem auto-explicativas, uma melhor descrição do que cada opção faz está presente abaixo.</p>
    <ol>
        <li><b>Adicionar uma pessoa no elevador.</b></li>
        <partial class="text-justify">Incrementa o valor do contador de pessoas dentro do elevador em 1, até o máximo informado na inicialização do aplicativo.</partial>
        <li><b>Remover uma pessoa do elevador.</b></li>
        <partial class="text-justify">Realiza a subtração de 1 no contador de pessoas dentro do elevador, até o mínimo de 0.</partial>
        <li><b>Subir um andar.</b></li>
        <partial class="text-justify">Aumenta o valor da variável correspondente ao andar do elevador em 1, até o máximo informado na inicialização do aplicativo.</partial>
        <li><b>Descer um andar.</b></li>
        <partial class="text-justify">A variável diminui em 1 o nível do andar, até o mínimo de 0, que corresponde ao térreo.</partial>
        <li><b>Encerrar a aplicação.</b></li>
        <partial class="text-justify">Faz com que o aplicativo se encerre!</partial>
    </ol>


    

</div>

<div class="text-center">
    <p>Código disponível no <a href="https://github.com/richard-pyx/ProjetoElevador-Ocean">GitHub</a>.</p>
    <p>Criado por Richard: <a href="https://github.com/richard-pyx">GitHub</a>.</p>
</div>